.tool-menu {
    height: 100%;
    display: block;

    &.left {
		color: @left-panel-color;
		background-color: @left-panel-bg;
        overflow: hidden;

        .tool-menu-btns {
            border-right: 1px solid @gray-dark;

			.btn-category {
				color: @left-panel-button-color;
				background-color: @left-panel-button-bg;

				&:hover:not(.disabled),
				.over:not(.disabled) {
					color: @left-panel-button-hover-color;
					background-color: @left-panel-button-hover-bg;
				}

				&:active:not(.disabled),
				&.active:not(.disabled) {
					color: @left-panel-button-active-color;
					background-color: @left-panel-button-active-bg;
				}
			}
		}

		.left-panel {
			.layout-ct {
				background-color: @left-panel-comments-bg;
			}
		}
    }
}


button.notify .btn-menu-chat {background-position: -0*@toolbar-icon-size -63*@toolbar-icon-size;}
button.notify .btn-menu-comments {background-position: -0*@toolbar-icon-size -60*@toolbar-icon-size;}

.button-normal-icon(btn-menu-history,     59, @toolbar-icon-size);
//.button-normal-icon(btn-menu-file,        66, @toolbar-icon-size);
.button-normal-icon(btn-menu-search,      64, @toolbar-icon-size);
.button-normal-icon(btn-menu-comments,    65, @toolbar-icon-size);
.button-normal-icon(btn-menu-chat,        62, @toolbar-icon-size);
.button-normal-icon(btn-menu-about,       68, @toolbar-icon-size);
.button-normal-icon(btn-menu-support,     70, @toolbar-icon-size);
.button-normal-icon(btn-menu-plugin,      77, @toolbar-icon-size);
.button-normal-icon(btn-menu-navigation,  83, @toolbar-icon-size);

.tool-menu-btns {
    width: 40px;
    height: 100%;
    display: inline-block;
    position: absolute;
    padding-top: 15px;

    button {
        margin-bottom: 8px;
    }
}

.left-panel {
    padding-left: 40px;
    height: 100%;
    border-right: 1px solid @gray-dark;

    #left-panel-chat {
        height: 100%;
    }
    #left-panel-comments {
        height: 100%;
    }
     #left-panel-history {
        height: 100%;
    }
}

.left-menu-full-ct {
    width: 100%;
    height: 100%;
    left: 40px;
    padding-right: 40px;
    top: 0;
    position: absolute;
    z-index: @zindex-dropdown - 5;
    background-color: @gray-light;
    overflow: hidden;
}

#developer-hint {
    position: absolute;
    left: 0;
    padding: 12px 0;
    background-color: #ffb400;
    color: #6e4e00 !important;
    white-space: nowrap;
    line-height: 20px;
    writing-mode: tb-rl;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: default;
}
