
.tool-menu.right {

.right-panel {
    width: 220px;
    height: 100%;
    display: none;
    padding: 0 10px 0 15px;
    position: relative;
    overflow: hidden;
    border-left: 1px solid @gray-dark;
		color: @right-panel-color;
		background-color: @right-panel-bg;
}

    .tool-menu-btns {
        position: absolute;
        border-left: 1px solid @gray-dark;
		right: 0;
		color: @right-panel-tb-color;
		background-color: @right-panel-tb-bg;

		.btn-category {
			color: @right-panel-button-color;
			background-color: @right-panel-button-bg;

			&:hover:not(.disabled),
			.over:not(.disabled) {
				color: @right-panel-button-hover-color;
				background-color: @right-panel-button-hover-bg;
			}

			&:active:not(.disabled),
			&.active:not(.disabled) {
				color: @right-panel-button-active-color;
				background-color: @right-panel-button-active-bg;
			}
			
			&[disabled],
			&.disabled {
				background-color: transparent;
			}
		}

        /*menuText*/
        .toolbar-btn-icon(btn-menu-text,    64, @toolbar-icon-size);

        /*menuImage*/
        .toolbar-btn-icon(btn-menu-image,   34, @toolbar-icon-size);

        /*menuChart*/
        .toolbar-btn-icon(btn-menu-chart,   36, @toolbar-icon-size);

        /*menuShape*/
        .toolbar-btn-icon(btn-menu-shape,   47, @toolbar-icon-size);

        /*menuTextArt*/
        .toolbar-btn-icon(btn-menu-textart, 66, @toolbar-icon-size);

        /*menuTable*/
        .toolbar-btn-icon(btn-menu-table,   80, @toolbar-icon-size);

        /**menuSignature*/
        .toolbar-btn-icon(btn-menu-signature, 83, @toolbar-icon-size);

        /*menuPivot*/
        .toolbar-btn-icon(btn-menu-pivot,   87, @toolbar-icon-size);

        /*menuCell*/
        .toolbar-btn-icon(btn-menu-cell,   88, @toolbar-icon-size);
    }
}

.settings-panel {
    display: none;
    overflow: visible;
    margin-top: 7px;

    & > table {
        width: 100%;
    }

    &.active {
        display: block;
    }

    .padding-small {
        padding-bottom: 8px;
    }

    .padding-large {
        padding-bottom: 16px;
    }

    .finish-cell {
        height: 15px;
    }

    label {
        .font-size-normal();
        font-weight: normal;

        &.input-label{
            margin-bottom: 0;
            vertical-align: middle;
        }

        &.header {
            font-weight: bold;
        }
    }

    .separator { width: 100%;}

    .settings-hidden {
        display: none;
    }

    textarea {
        .user-select(text);
        width: 100%;
        resize: none;
        margin-bottom: 5px;
        border: 1px solid @gray-dark;
        height: 100%;

        &.disabled {
            opacity: 0.65;
            cursor: default !important;
        }
    }
}

/*menuText*/
.button-normal-icon(btn-menu-text,    64, @toolbar-icon-size);
/*menuImage*/
.button-normal-icon(btn-menu-image,   34, @toolbar-icon-size);
/*menuChart*/
.button-normal-icon(btn-menu-chart,   36, @toolbar-icon-size);
/*menuShape*/
.button-normal-icon(btn-menu-shape,   47, @toolbar-icon-size);
/*menuTextArt*/
.button-normal-icon(btn-menu-textart, 66, @toolbar-icon-size);
/*menuTable*/
.button-normal-icon(btn-menu-table,   80, @toolbar-icon-size);
/**menuSignature*/
.button-normal-icon(btn-menu-signature, 83, @toolbar-icon-size);
/*menuPivot*/
.button-normal-icon(btn-menu-pivot,   87, @toolbar-icon-size);
/*menuCell*/
.button-normal-icon(btn-menu-cell,   88, @toolbar-icon-size);

.button-otherstates-icon2(btn-category, @toolbar-icon-size);

.btn-toolbar:not(.x-huge) .icon:not(svg).btn-borders-small {
    .background-ximage('@{common-image-path}/right-panels/SmallBorders.png', '@{common-image-path}/right-panels/SmallBorders@2x.png', 84px);
}

.button-normal-icon(btn-position-all,         0, 21px);
.button-normal-icon(btn-position-inner,       1, 21px);
.button-normal-icon(btn-position-bottom,      2, 21px);
.button-normal-icon(btn-position-inner-hor,   3, 21px);
.button-normal-icon(btn-position-top,         4, 21px);
.button-normal-icon(btn-position-none,        5, 21px);
.button-normal-icon(btn-position-outer,       6, 21px);
.button-normal-icon(btn-position-left,        7, 21px);
.button-normal-icon(btn-position-inner-vert,  8, 21px);
.button-normal-icon(btn-position-right,       9, 21px);
.button-normal-icon(btn-position-diagu,       10, 21px);
.button-normal-icon(btn-position-diagd,       11, 21px);

.button-otherstates-icon(btn-borders-small, 21px);

.btn-edit-table,
.btn-change-shape {
    .background-ximage('@{common-image-path}/right-panels/rowscols_icon.png', '@{common-image-path}/right-panels/rowscols_icon@2x.png', 84px);
    margin-right: 2px !important;
    margin-bottom: 1px !important;
}

.btn-edit-table                  {background-position: 0      0;}
button.over .btn-edit-table      {background-position: -28px  0;}
.btn-group.open .btn-edit-table,
button.active:not(.disabled) .btn-edit-table,
button:active:not(.disabled) .btn-edit-table    {background-position: -56px  0;}

.btn-change-shape                  {background-position: 0      -16px;}
button.over .btn-change-shape      {background-position: -28px  -16px;}
.btn-group.open .btn-change-shape,
button.active:not(.disabled) .btn-change-shape,
button:active:not(.disabled) .btn-change-shape    {background-position: -56px  -16px;}

.combo-pattern-item {
    .background-ximage('@{common-image-path}/right-panels/patterns.png', '@{common-image-path}/right-panels/patterns@2x.png', 112px);
}

.combo-dataview-menu {
    .form-control {
        cursor: pointer;
        background-color: white;

        &.text {
            background: white;
            vertical-align: bottom;
        }
    }
}

.item-gradient {
    .background-ximage('@{common-image-path}/right-panels/gradients.png', '@{common-image-path}/right-panels/gradients@2x.png', 150px);
    width:50px;
    height:50px;
}

.item-gradient-separator {
    margin-right: 62px !important;
}

.gradient-left-top {
    background-position: 0 0;
}

.gradient-top {
    background-position: -50px 0;
}

.gradient-right-top {
    background-position: -100px 0;
}

.gradient-left {
    background-position: 0 -50px;
}

.gradient-right {
    background-position: -100px -50px;
}

.gradient-left-bottom {
    background-position: 0 -100px;
}

.gradient-bottom {
    background-position: -50px -100px;
}

.gradient-right-bottom {
    background-position: -100px -100px;
}

.gradient-radial-center {
    background-position: -100px -150px;
}

// charts
.item-wrap {
    width:50px;
    height:50px;
    background-size: cover;
}

.menu-insertchart {
    .group-description {
        padding-left: 4px;
    }

    .group-items-container {
        float: left;
        position: relative;
    }
}

.item-chartlist {
    .background-ximage('@{common-image-path}/toolbar/charttypes.png', '@{common-image-path}/toolbar/charttypes@2x.png', 250px);
    width: 50px;
    height: 50px;
}

.line-normal {
    background-position: 0 0;
}

.line-stack {
    background-position: -50px 0;
}

.line-pstack {
    background-position: -100px 0;
}

.line-3d {
    background-position: -150px 0;
}

.column-normal {
    background-position: 0 -50px;
}

.column-stack{
    background-position: -50px -50px;
}

.column-pstack{
    background-position: -100px -50px;
}

.column-3d-normal {
    background-position: -150px -50px;
}

.column-3d-stack{
    background-position: -200px -50px;
}

.column-3d-pstack{
    background-position: -150px -100px;
}

.column-3d-normal-per{
    background-position: -200px -100px;
}

.bar-normal {
    background-position: 0 -100px;
}

.bar-stack{
    background-position: -50px -100px;
}

.bar-pstack{
    background-position: -100px -100px;
}

.bar-3d-normal {
    background-position: -150px -150px;
}

.bar-3d-stack{
    background-position: -200px -150px;
}

.bar-3d-pstack{
    background-position: -150px -200px;
}

.area-normal {
    background-position: 0 -150px;
}

.area-stack{
    background-position: -50px -150px;
}

.area-pstack{
    background-position: -100px -150px;
}

.pie-normal {
    background-position: 0 -200px;
}

.pie-3d-normal {
    background-position: -200px -200px;
}

.point-normal{
    background-position: -50px -200px;
}

.stock-normal{
    background-position: -100px -200px;
}

.pie-doughnut{
    background-position: -200px 0;
}

.spark-line{
    background-position: 0px -250px;
}

.spark-column{
    background-position: -50px -250px;
}

.spark-win{
    background-position: -100px -250px;
}

.surface-normal{
    background-position: 0px -300px;
}

.surface-wireframe{
    background-position: -50px -300px;
}

.contour-normal{
    background-position: -100px -300px;
}

.contour-wireframe{
    background-position: -150px -300px;
}

#table-combo-template .combo-dataview {
    .combo-template(60px);
}

.pivot-check-listview {
    background-color: #fff;
    width: 100%;
    height: 250px;

    .item {
        padding-right: 3px;
    }

    .list-item {
        width: 146px;
        margin-left:20px;
        display: inline-block;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .listitem-icon {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-position: -1px -274px;
        display: inline-block;
    }
}

.pivot-listview {
    background-color: #fff;
    width: 95px;
    height: 130px;

    .item {
        padding: 3px;
    }

    .list-item > div:nth-child(1) {
        width:70px;
        padding-right: 5px;
        display: inline-block;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .listitem-icon {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-position: -1px -274px;
        display: inline-block;
    }
}

#signature-requested-sign,
#signature-valid-sign,
#signature-invalid-sign {
    height: 100%;
    overflow: hidden;
    margin: 0 -10px 0 -15px;

    .item {
        display: block;
        border: none;
        width: 100%;
        .box-shadow(none);
        margin: 0;

        &:hover,
        &.over {
            background-color: @secondary;

            .caret {
                display: inline-block;
            }
        }
    }

    .signature-item {
        padding: 5px 2px 5px 15px;
        text-overflow: ellipsis;
        min-height: 25px;

        .name {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            max-width: 160px;
            text-overflow: ellipsis;
        }

        .caret {
            width: 23px;
            height: 14px;
            border: 0;
            background-position: -43px -150px;
            margin: 8px 15px;
            display: none;
            position: absolute;
            right: 0;

            &.nomargin {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.combo-border-size.cell-border-type {
    img, .image {
        background-image: ~"url(@{app-image-const-path}/toolbar/BorderSize.png)";
    }
}